@font-face {
  font-family: "iconfont"; /* Project id 1609652 */
  src: url('iconfont.woff2?t=1622099828259') format('woff2'),
       url('iconfont.woff?t=1622099828259') format('woff'),
       url('iconfont.ttf?t=1622099828259') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chaifen:before {
  content: "\e653";
}

.icon-chexiao:before {
  content: "\e609";
}

.icon-quanping:before {
  content: "\e60d";
}

.icon-zhongzuo:before {
  content: "\e60e";
}

.icon-zujian:before {
  content: "\e60f";
}

.icon-bianji2:before {
  content: "\e610";
}

.icon-tabs:before {
  content: "\e8cd";
}

.icon-LC_icon_edit_line_1:before {
  content: "\e65b";
}

.icon-edit1:before {
  content: "\e72a";
}

.icon-edit-:before {
  content: "\e83b";
}

.icon-juxingkaobei:before {
  content: "\e7a5";
}

.icon-tree:before {
  content: "\e608";
}

.icon-guanlian:before {
  content: "\e61f";
}

.icon-edit:before {
  content: "\e607";
}

.icon-write:before {
  content: "\e612";
}

.icon-gallery:before {
  content: "\e613";
}

.icon-ai-code:before {
  content: "\e606";
}

.icon-html:before {
  content: "\e693";
}

.icon-zu:before {
  content: "\e615";
}

.icon-time:before {
  content: "\e633";
}

.icon-number:before {
  content: "\e639";
}

.icon-menu:before {
  content: "\e605";
}

.icon-download:before {
  content: "\e60b";
}

.icon-upload:before {
  content: "\e60c";
}

.icon-folder:before {
  content: "\e611";
}

.icon-image:before {
  content: "\e61a";
}

.icon-calendar:before {
  content: "\e60a";
}

.icon-danxuan-cuxiantiao:before {
  content: "\e676";
}

.icon-zihao:before {
  content: "\e623";
}

.icon-button-add:before {
  content: "\e637";
}

.icon-button-remove:before {
  content: "\e638";
}

.icon-duoxuan1:before {
  content: "\e66d";
}

.icon-danhangwenben:before {
  content: "\e6e6";
}

.icon-duohangwenben:before {
  content: "\e6e7";
}

.icon-danxuanxuanzhong:before {
  content: "\e62d";
}

.icon-kaiguan3:before {
  content: "\e6da";
}

.icon-biaoge:before {
  content: "\e63e";
}

.icon-qiapian:before {
  content: "\e674";
}

.icon-zhage:before {
  content: "\e63f";
}

.icon-xiala:before {
  content: "\e640";
}

.icon-fengexian:before {
  content: "\ec7f";
}

.icon-pingfen_moren:before {
  content: "\e877";
}

