// 表单设计器样式
@aside-border-color      : #ccc;
@primary-color           : #1890ff;
@primary-background-color: rgba(134, 197, 255, 0.12);
@primary-hover-bg-color  : rgba(109, 184, 255, 0.36);

@grid-color           : #dca13e;
@grid-background-color: rgba(255, 242, 168, 0.10);
@grid-hover-bg-color  : #fff7c0;

@moving-border-color: #ff7777;
@import "./kTable.less";

.form-designer-container-9136076486841527 {
  height: 100vh;

  // 设计器内容样式
  .content {
    display: flex;
    height : calc(100% - 30px);

    &.show-head {
      height: calc(100% - 90px);
    }

    flex:1;

    section {
      .title {
        border-bottom: 1px solid #efefef;
        font-size    : 14px;
        text-align   : center;
        height       : 45px;
        line-height  : 24px;

        &.content-title {
          text-align: right;

          a {
            margin-left: 8px;
          }
        }
      }

      >div {
        padding: 10px;
      }
    }

    // 左右栏
    aside {
      width : 270px;
      height: 100%;

      >.left-title {
        padding    : 12px 10px 8px;
        user-select: none;
      }

      &.left {
        border-right: 1px solid @aside-border-color;
        height      : 100%;
        overflow    : auto;

        >ul {
          padding      : 0 10px;
          list-style   : none;
          display      : flex;
          margin-bottom: 0;
          flex-wrap    : wrap;

          >li {
            width       : calc(50% - 8px);
            margin      : 2.7px;
            padding-left: 12px;
            height      : 30px;
            line-height : 30px;
            cursor      : move;
            user-select : none;
            background  : #f4f6fc;
            border      : 1px dashed transparent;
            transition  : all .3s;

            &:hover {
              color : @primary-color;
              border: 1px dashed @primary-color;
            }
          }
        }
      }

      &.right {
        height     : 100%;
        border-left: 1px solid @aside-border-color;

        .properties-centent {
          overflow: auto;
          padding : 0 18px;

          .ant-form-item {
            margin-bottom : 0;
            padding-bottom: 8px;
            border-bottom : 1px solid #ddd;
          }
        }

        .hint-box {
          color      : #999999;
          height     : 75vh;
          line-height: 75vh;
          text-align : center;
          font-size  : 20px;
        }
      }
    }

    // 中间内容区域
    section {
      flex       : 1;
      user-select: none;

      .form-panel {
        height    : calc(100% - 50px);
        background: #efefef;
        border    : 1px solid #ccc;
        position  : relative;

        >.hint-text {
          position  : absolute;
          left      : 0;
          top       : 45%;
          width     : 100%;
          text-align: center;
          font-size : 20px;
          color     : #999999;
          z-index   : 16;
        }

        .a-form-box {
          height       : 100%;
          // box-shadow: 0px 1px 5px 1px #ccc;
        }

        .draggable-box {
          height  : 100%;
          overflow: auto;

          .list-main {
            min-height: 100%;
            padding   : 6px 10px;
            position  : relative;
            background: #fff;
            border    : 1px #ccc dashed;

            .moving {
              // 拖放移动中
              outline-width: 0;
              min-height   : 35px;
              box-sizing   : border-box;
              font-size    : 0;
              overflow     : hidden;
              padding      : 0 !important;
              margin       : 3px 0;
              position     : relative;

              &::before {
                content   : '';
                height    : 100%;
                width     : 100%;
                background: #fff;
                border    : 3px solid @moving-border-color;
                position  : absolute;
                top       : 0;
                left      : 0;
                z-index   : 1999;
              }
            }

            .drag-move-box {
              position  : relative;
              box-sizing: border-box;
              padding   : 8px;
              outline   : 2px solid transparent;
              border    : 1px #ccc dashed;
              background: @primary-background-color;
              margin    : 4px 0;
              overflow  : hidden;
              transition: all .3s;
              min-height: 36px;

              .form-item-box {
                position  : relative;
                box-sizing: border-box;

                &::before {
                  content : "";
                  position: absolute;
                  width   : 100%;
                  height  : 100%;
                  top     : 0;
                  left    : 0;
                  z-index : 888;
                }

                .ant-form-item {
                  // 修改ant form-item的margin为padding
                  margin        : 0;
                  padding-bottom: 6px;
                }
              }

              &:hover {
                background: @primary-hover-bg-color;
              }

              &.active {
                outline: 2px solid @primary-color;
                border : 1px solid @primary-color;

                outline-offset: 0;
              }

              .show-key-box {
                // 显示key
                position : absolute;
                top      : 2px;
                right    : 5px;
                font-size: 14px;
                z-index: 2999;
                color    : @primary-color;
              }

              >.copy,
              >.delete {
                position   : absolute;
                bottom     : -2px;
                width      : 30px;
                height     : 30px;
                line-height: 30px;
                text-align : center;
                color      : #fff;
                z-index    : 989;
                transition : all .3s;

                &.unactivated {
                  opacity       : 0 !important;
                  pointer-events: none;
                }

                &.active {
                  opacity: 1 !important;
                }
              }

              >.copy {
                border-radius: 8px 0 0 0;
                right        : 30px;
                background   : @primary-color;
              }

              >.delete {
                right     : 0px;
                background: @primary-color;
              }

            }

            .grid-box,
            .table-box {
              position  : relative;
              box-sizing: border-box;
              padding   : 8px;
              outline   : 2px solid transparent;
              border    : 1px #ccc dashed;
              background: @grid-background-color;
              margin    : 2px 0;
              width     : 100%;
              transition: all .4s;

              .form-item-box {
                position  : relative;
                box-sizing: border-box;

                .ant-form-item {
                  // 修改ant form-item的margin为padding
                  margin        : 0;
                  padding-bottom: 15px;
                }
              }

              .grid-row,
              .table-layout {
                background: @grid-background-color;

                .grid-col,
                .table-td {
                  .draggable-box {
                    min-height: 60px;
                    min-width : 50px;
                    border    : 1px #ccc dashed;
                    background: #fff;

                    .list-main {
                      min-height: 60px;
                      position  : relative;
                      border    : 1px #ccc dashed;
                    }
                  }
                }
              }

              &:hover {
                background       : @grid-hover-bg-color;
                // outline       : 1px solid @grid-color;
                outline-offset   : 0px;

                .grid-row,
                .table-layout {
                  background: @grid-hover-bg-color;

                }
              }

              &.active {
                outline       : 2px solid @grid-color;
                border        : 1px solid @grid-color;
                outline-offset: 0;
              }

              >.copy,
              >.delete {
                position   : absolute;
                bottom     : -2px;
                width      : 30px;
                height     : 30px;
                line-height: 30px;
                text-align : center;
                color      : #fff;
                z-index    : 989;
                transition : all .3s;

                &.unactivated {
                  opacity       : 0 !important;
                  pointer-events: none;
                }

                &.active {
                  opacity: 1 !important;
                }
              }

              >.copy {
                border-radius: 8px 0 0 0;
                right        : 30px;
                background   : @grid-color;
              }

              >.delete {
                right     : 0px;
                background: @grid-color;
              }
            }
          }
        }
      }
    }
  }

  // 表格右键菜单样式
  .right-menu {
    width     : 190px;
    background: #fff;
    border    : 1px solid #ccc;
    position  : fixed;
    transition: all 0s;
    box-shadow: 3px 3px 5px #999;
    padding   : 8px 0;
    z-index   : 999;

    ul {
      padding   : 0;
      margin    : 0;
      list-style: none;

      li {
        cursor     : pointer;
        user-select: none;
        padding    : 0 15px;
        height     : 30px;
        line-height: 30px;
        font-size  : 14px;

        &:hover {
          background: #eee;
        }
      }
    }
  }

  // 控件属性复选组件样式
  .kk-checkbox {
    .ant-checkbox-wrapper {
      margin-left : 0 !important;
      margin-right: 8px;
    }
  }

  // 列表动画
  .list-enter-active {
    transition: all .5s;
  }

  .list-leave-active {
    transition: all .3s;
  }

  .list-enter,
  .list-leave-to

  /* .list-leave-active for below version 2.1.8 */
    {
    opacity  : 0;
    transform: translateX(-100px);
  }

  .list-enter {
    height: 30px;
  }

  ::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 6px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height               : 4px;
    scrollbar-arrow-color: red;

  }

  ::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius        : 5px;
    box-shadow           : inset 0 0 5px rgba(0, 0, 0, 0.2);
    background           : rgba(0, 0, 0, 0.2);
    scrollbar-arrow-color: red;
  }

  ::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 0;
    background   : rgba(0, 0, 0, 0.1);
  }
}



// code盒子样式
.json-box-9136076486841527 {
  height  : 580px;
  overflow: auto;

  .vue-codemirror-wrap {
    height: 100%;

    .CodeMirror-wrap {
      height    : 100%;
      background: #f6f6f6;
    }
  }
}

// html code盒子样式
.code-box-9136076486841527 {
  height  : 300px;
  overflow: auto;
  border: 1px solid rgb(217, 217, 217);
  border-radius: 4px;
  .vue-codemirror-wrap {
    height: 100%;

    .CodeMirror-wrap {
      height    : 100%;
      background: #fcfcfc;
      pre.CodeMirror-line,.CodeMirror-linenumber{
        min-height: 24px;
        line-height: 24px;
      }
    }
  }
}

// modal复制按钮样式
.copy-btn-box-9136076486841527 {
  padding-top: 8px;
  text-align : center;

  .copy-btn {
    margin-right: 8px;
  }
}

// k-form-build
.k-form-build-9136076486841527 {
  .ant-form-item {
    margin-bottom: 18px;
  }

  // 防止报错信息占位
  .ant-form-item-control {
    position: relative;

    .ant-form-explain {
      bottom  : -16px;
      position: absolute;
      z-index : 10;
    }
  }
}

// header样式
.header-9136076486841527 {
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: @primary-color;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}
// footer样式
.footer-9136076486841527 {
  width: 100%;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  text-align: right;
  background: #fafafa;
  color: @primary-color;
  font-size: 14px;
  font-weight: bold;
  border-top: 1px solid #e0e0e0;
  > a {
    color: @primary-color;
    text-decoration: none;
  }
}